# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Snake C-Sharp Ruslan.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Жемчужина\Desktop\School\Programming\Rider\csharp\Snake C-Sharp Ruslan\.idea\.idea.Snake C-Sharp Ruslan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
